@import "tailwindcss";

:root {
  --background: #fefffb;
  /* --merriweatherSans: 'Merriweather Sans' */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-merriweather-sans);
  --font-mono: var(--font-geist-mono);
  --font-body-inter: var(--font-inter);

  /* Enovate color  */
  --color-enovate-light-blue: #92ebff;
  --color-enovate-light-green: #67fe9b80;
  --color-enovate-light-purple: #8b98ffff;
  --color-text-dark-gray: #767676;
  --color-title-gray: #313131;
  --color-subtitle-gray: #5a5a5a;
  --color-enovate-blue: #92ebff;
  --color-enovate-green: #67fe9b;
  --color-enovate-purple: #8b98ff;
  --color-light-background: #f9f9f9;
  --color-enovate-dark-blue: #6ddbf3;
  --color-enovate-dark-purple: #7683ee;
  --color-enovate-dark-green: #54ea87;
  --color-enovate-main-background: #fefffb;

  /* Box Shadow */
  --shadow-solid-purple: 0px 0px 2px 4px #8b98ff;
  --shadow-outline-blue: 0px 0px 2px 4px #92ebff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

/* variables for for responsive animations on several devices */

/* NAVBAR */
.responsive-nav-menu {
  --hidden-y: -50px;
  --visible-y: 0px;
}

@media (max-width: 768px) {
  .responsive-nav-menu {
    --hidden-y: -100%;
    --visible-y: -112%;
  }
}

/* PROJECT CARDS & FOLDER */
.responsive-project-card {
  --animate-card: -100px;
}

@media (max-width: 480px) {
  .responsive-project-card {
    --animate-card: -150px;
    /* need it to be shown by -250px on mobile */
  }
}
